PROJECT_NAME=ylab_hw_3

# JWT SETTINGS
JWT_SECRET_KEY=QbaGgolGYVbQsAjrbzvrfQXV1z3XQe9XrFfCJQvEgdvAH2UaxC4SZUfUZAP0JAi
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080

# Redis
REDIS_HOST=ylab_redis
REDIS_PORT=6379

# Postgres
POSTGRES_HOST=ylab_postgres_db
POSTGRES_PORT=5432
POSTGRES_DB=ylab_hw
POSTGRES_USER=ylab_hw
POSTGRES_PASSWORD=ylab_hw
